/* ------------------------------------ importaciones -----------------------------  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
/* ------------------------------- fin importaciones ---------------------------- */

/* --------------------------variables------------------------------ */
:root{
    --negro: rgb(33, 36, 41);
    --blanco: #ffffff;
    --naranja: rgb(245, 175, 35);
    
}
/* ------------------------------- fin variables ---------------------------- */
*{
  margin:0;   
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
/* --------------------------Header----------------------------- */
.header{
  background-color: black;
  color: var(--blanco);
  text-align: center;
}
.cel{
  text-decoration: none;
  color: var(--blanco);
}

.cel:hover{
  color: var(--naranja);
}
/* --------------------------Fin header----------------------------- */

/* --------------------------Nav----------------------------- */
.contenedor{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 60px 0;
}

.menu-navegacion{
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.logo{
  padding: 0;
  height: 65px;
  
}

.logo img{
  display: block;
  height: 100%;
}

.enlaces li{
  list-style: none;
  display: inline-block;
}

.enlaces a{
  text-decoration: none;
  color: black;
  padding-left: 20px;
  font-size: 20px;
}

.enlaces a:hover{
  color: var(--naranja);
}
/* --------------------------Nav----------------------------- */