/* ------------------------------------ importaciones -----------------------------  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
/* ------------------------------- fin importaciones ---------------------------- */

/* --------------------------variables------------------------------ */
:root{
    --negro: rgb(33, 36, 41);
    --blanco: #ffffff;
    --naranja: rgb(245, 175, 35);
    
}
/* ------------------------------- fin variables ---------------------------- */


*{
    margin:0;   
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px
}
/* --------------------------Header----------------------------- */

.navbar{
    background-color: var(--negro);
    color: white;
    font-size: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

.logo{
    height:60px;
}
.header{
    background-color: black;
    color: var(--blanco);
    text-align: center;
    padding: 1.5vh;

}
.header--contactanos{
    font-size: 0.7rem;
    letter-spacing: 2px;
}

.header--celular{
    text-decoration: none;
    font-size: 0.7rem;
    color: var(--naranja);
    letter-spacing: 2px;
}

.header--celular:hover{
    color: var(--naranja);
}
/* --------------------------Fin header----------------------------- */
/* -------------------------------------------------- Main -------------------------------------------------------  */

/*-------------------------Footer---------------------*/



.footer-distributed{
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 50px 50px 60px 50px;
    margin: 0;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left{
    width: 100%;
}
.footer-distributed h3{
    color: #ffffff;
    font-weight: normal;
    font-size: 7.5vw;
}

.footer-distributed h3 span{
    font-size: 1em;
    color: #e0ac1c
}
.footer-distributed .footer-links{
    color: #fff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name{
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center{
    width: 100%;
}
.footer-distributed .footer-center i{
    background-color: #33383b;
    color: #fff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 3.5vh;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span{
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1a;
    text-decoration: none;
}
.footer-distributed .footer-right{
    width: 100%;
}
.footer-distributed .footer-company-about{
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-company-about span{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
}
.footer-distributed .footer-icons{
    margin-top: 25px;
}
.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover{
    background-color: #3f71ea;
}

.footer-links a:hover{
    color: #3f71ea;
}

