/* ------------------------------------ importaciones -----------------------------  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
/* ------------------------------- fin importaciones ---------------------------- */

/* --------------------------variables------------------------------ */
:root{
    --negro: #2d2a30;
    --blanco: #ffffff;
    --naranja: rgb(245, 175, 35);
    
}
/* ------------------------------- fin variables ---------------------------- */


*{
    margin:0;   
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
/* --------------------------Header----------------------------- */
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 
.navbar{
    background-color: var(--negro);
    color: white;
    font-size: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

.logo{
    height:60px;
}
.header{
    background-color: black;
    color: var(--blanco);
    text-align: center;
    padding: 1.5vh;

}
.header--contactanos{
    font-size: 0.7rem;
    letter-spacing: 2px;
}

.header--celular{
    text-decoration: none;
    font-size: 0.7rem;
    color: var(--naranja);
    letter-spacing: 2px;
}

.header--celular:hover{
    color: var(--naranja);
}
/* --------------------------Fin header----------------------------- */
/* -------------------------------------------------- Main -------------------------------------------------------  */

/*-------------------------Footer---------------------*/

.footer{
    padding: 20px 0px;
}

.footer ul{
    margin-top: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0px;
    text-align: center;
}

.footer ul li{
    display: inline-block;
    padding: 0px 5px;
}
.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
    transition: 777ms all;
}
.footer ul li a:hover{
    opacity: 1;
    color: deepskyblue;
}


.footer-bottom {
	padding: 10px;
	background: #3d545f;
	color: #fff;
	font-size: 12px;
}

@media(max-width:880px){
    .footer-distribuited .footer-left,
    .footer-distribuited .footer-center,
    .footer-distribuited .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distribuited .footer-center i{
        margin-left: 0;
    }
}

/*-------------------------Formulario---------------------*/
.container-form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 100px;
    
}
.container-form h2::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.contact-box{
    
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-left{
    height: 200px;
    background: url(/src/img/imagenes-genericas/img1.jpg) no-repeat center;
    background-size: cover;
}

.form-right{
    padding: 25px 40px;
}
.form-right h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.form-right p{
    text-align: justify;
    color: #303030;
    font-weight: 300;
    padding-bottom: 15px;
}
.form-right h2::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
}
.field-form{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid #e5e5e5;
    background-color: rgba(230, 230, 230, 0.6)2;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    outline: none;
}
.field-form:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.field-form:focus{
    background-color: #FFF;
    border: 2px solid rgba(30, 85, 250, 0.47);
}
.area-form{
    min-height: 150px;
}
.container-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    margin: auto;
}

.container-text h2{
    position: absolute;
    padding-bottom: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.container-text p{
    position: absolute;
    padding: 70px;
    text-align: center;
    color: #303030;
    font-weight: 300;
    padding-bottom: 15px;
    width: 100%;
}


.btn-form{
    width: 100%;
    margin: 0 10px 0 0;
    padding: 12px 0 12px 15px;
    border: 1px solid #e5e5e5;
    font-size: 12.5px;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin: 0;
    padding: 12px 40px;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.3s;
}
.btn-form:hover{
    background-color: #999;
}


@media (min-width:768px){
    .contact-box{
        max-width: 1050px;
        grid-template-columns: repeat(2, 1fr);
    }
    .form-left{
        height: 100%
    }

    .btn-form{
        width: 40%;
        margin: 20px;
    }
}
/*-----------------Quienes somos */
.quienes_somos--descripcion__title{
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
}

.quienes_somos--description {
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #FFF;
}
.quienes_somos--description .quienes_somos--description__container {
    margin-bottom: 50px; 
}
.quienes_somos--description .quienes_somos--description__container .quienes_somos--description__text {
    font-size: 16px;
    text-align: center; 
}

@media screen and (min-width:768px){
    .quienes_somos--descripcion__title{
        font-size: 40px;
    }
    .quienes_somos--description .quienes_somos--description__container .quienes_somos--description__text{
        font-size: 30px;
    }
}
/*-------------- servicios -----------------------*/
.servicios--descripcion__title{
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

.servicios--description {
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 212, 178);
    color: var(--negro);
    
}
.servicios--description .servicios--description__container {
    margin-bottom: 30px; 
}
.servicios--description .servicios--description__container .servicios--description__text {
    font-size: 16px;
    text-align: center; 
}

.contacto-servicio-boton{
    background-color: var(--naranja);
    padding: 10px;
    border-radius: 5px;
    border: solid 1px var(--naranja);
}

.link-boton-contacto-servicio{
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width:768px){
    .servicios--descripcion__title{
        font-size: 40px;
    }
    .servicios--description .servicios--description__container .servicios--description__text{
        font-size: 30px;
    }
}
/*-------------------------Footer---------------------*/



.footer-distributed{
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 50px 50px 60px 50px;
    margin: 0;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left{
    width: 100%;
}
.footer-distributed h3{
    color: #ffffff;
    font-weight: normal;
    font-size: 7.5vw;
}

.footer-distributed h3 span{
    font-size: 1em;
    color: #e0ac1c
}
.footer-distributed .footer-links{
    color: #fff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name{
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center{
    width: 100%;
}
.footer-distributed .footer-center i{
    background-color: #33383b;
    color: #fff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 3.5vh;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #fff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span{
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1a;
    text-decoration: none;
}
.footer-distributed .footer-right{
    width: 100%;
}
.footer-distributed .footer-company-about{
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-company-about span{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
}
.footer-distributed .footer-icons{
    margin-top: 25px;
}
.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover{
    background-color: #3f71ea;
}

.footer-links a:hover{
    color: #3f71ea;
}

@media(max-width:880px){
    .footer-distribuited .footer-left,
    .footer-distribuited .footer-center,
    .footer-distribuited .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distribuited .footer-center i{
        margin-left: 0;
    }
}
