body {
  background-color: #f2f2f2; }

.container--index {
  width: 90%;
  margin: 0 auto;
  overflow: hidden; }

.slider--index {
  z-index: 1;
  background-color: #f2f2f2;
  padding: 40px 0; }
  .slider--index .slider--index__container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-items: center; }
    .slider--index .slider--index__container .slider--index__body {
      grid-column: 2/3;
      grid-row: 1/2;
      opacity: 0;
      pointer-events: none;
      width: 100%;
      align-items: center;
      transition: 1.5s; }
    .slider--index .slider--index__container .slider--index__body__show {
      opacity: 1;
      pointer-events: unset; }
    .slider--index .slider--index__container .slider--index__img {
      width: 70vw;
      height: 60vh;
      object-fit: cover;
      display: block;
      margin: 0 auto; }
    .slider--index .slider--index__container .slider--index__arrow {
      cursor: pointer;
      width: 30%;
      min-width: 2rem; }
    .slider--index .slider--index__container .slider--index__arrow:nth-child(1) {
      justify-self: end; }

.menu-navegacion {
  margin: 0;
  width: 100%;
  padding: 0;
  display: grid;
  background-color: #f2f2f2;
  grid-template-rows: 1px;
  grid-template-columns: repeat(3, 1fr); }
  .menu-navegacion ul li {
    list-style: none; }
    .menu-navegacion ul li a {
      font-size: 3.5vw;
      margin: 1rem;
      letter-spacing: 1px;
      text-decoration: none;
      color: #212429;
      font-weight: bold; }
    .menu-navegacion ul li a:hover {
      color: #f5af23; }
  .menu-navegacion .navbar--logo__center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid white;
    grid-column: 2/3;
    height: 5rem;
    background-color: #ffffff; }
    .menu-navegacion .navbar--logo__center img {
      object-fit: fill;
      height: 7rem; }
  .menu-navegacion .navbar--enlaces__left {
    grid-column: 1/2;
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border: 1px solid white;
    border-bottom-left-radius: 2.5rem; }
  .menu-navegacion .navbar--enlaces__right {
    grid-column: 3/4;
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border: 1px solid white;
    border-bottom-right-radius: 2.5rem; }

.index--contenedor-text {
  display: flex;
  justify-content: center;
  margin: 8vw 0;
  text-align: center; }
  .index--contenedor-text .index--seMas__title {
    font-size: 9vw; }
  .index--contenedor-text .animacion--mas {
    font-size: 9vw;
    font-weight: bold;
    color: #f5af23; }
  .index--contenedor-text .typed-cursor {
    font-size: 6vh; }

.index--if-you-are-container {
  display: flex;
  justify-content: center; }

.if-you-are {
  background-color: #ECE9E4;
  width: 100%;
  padding: 30px; }

.text-if-you {
  text-align: center;
  color: #A3654D; }

.check-icon {
  width: 7vw; }

.list-if-you {
  list-style: none;
  color: #2D4B57;
  font-weight: bold;
  font-size: 30px;
  margin: 15px; }

.text-or {
  text-align: center;
  color: #4B4A4A;
  font-weight: bold;
  font-size: 15px; }

.text-right-place {
  text-align: center;
  color: #A3654D;
  font-weight: bold;
  font-size: 35px; }

.index-button-container {
  display: flex;
  justify-content: center; }

.index--button-nosotros {
  position: relative;
  padding: 0 10px;
  margin: 15px;
  background-color: #A3654D;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: black;
  transition: 0.5s;
  border: 1px solid burlywood; }
  .index--button-nosotros:hover {
    border: 1px solid transparent;
    background: url(https://i.postimg.cc/wBXGXbWN/pixel.png);
    transition-delay: 0.8s;
    background-size: 180px;
    animation: animate 0.8s steps(8) forwards; }

@keyframes animate {
  0% {
    background-position-y: 0; }
  100% {
    background-position-y: -480px; } }
/* -------------------------media queries ---------------------------------- */
@media (min-width: 768px) {
  .header--contactanos {
    font-size: 1.2rem; }

  .header--celular {
    font-size: 1.2rem;
    color: #ffffff; }

  .menu-navegacion {
    grid-template-columns: repeat(9, 1fr); }
    .menu-navegacion .navbar--enlaces__left {
      grid-column: 3/5; }
    .menu-navegacion .navbar--enlaces__right {
      grid-column: 6/8; }
    .menu-navegacion .navbar--logo__center {
      grid-column: 5/6;
      height: 6rem;
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px; }

  .navbar--enlaces__text {
    font-size: 1.2vw !important; }

  .slider--index {
    margin-top: 4rem; }

  .check-icon {
    width: 2vw; }

  .index--contenedor-text {
    margin-top: 15px;
    margin-bottom: 50px; }
    .index--contenedor-text .index--seMas__title {
      font-size: 3vw; }
    .index--contenedor-text .animacion--mas {
      font-size: 3vw;
      font-weight: bold;
      color: #f5af23; }
    .index--contenedor-text .typed-cursor {
      font-size: 7vh; }

  .if-you-are {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap; } }

/*# sourceMappingURL=output.css.map */
